*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: 'Open Sans';
    min-height: 100%;
}

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}

.container {
    margin: 0 auto;
    max-width: 64rem;
}

.container.narrow {
    max-width: 56rem;
}

html {
    font-size: 100%;
    height: 100%;
}

.navbar {
    background-color: rgba(101,18,95,0.5);
    padding: 0.5rem;
    position: relative;
    z-index: 1;
}

.navbar .links-container {
    color: white;
    display: table;
    height: 100px;
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 0;
}

.links-container .navbar-link {
    color: white;
    cursor: pointer;
    display: table-cell;
    font-size: 0.625rem;
    font-weight: 700;
    height: 100%;
    letter-spacing: 0.05rem;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
}

.links-container .navbar-link:hover {
    color: rgb(233,50,117);
}

.links-container .navbar-link:active {
    background-color: white;
    color: rgb(233,50,117);
}

.navbar .logo {
    cursor: pointer;
    left: 2rem;
    position: relative;
}

@media (min-width: 640px) {
    .column {
        float: left;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .column.full {
        width: %100;
    }
    
    .column.two-thirds {
        width: 66.7%;
    }
    
    .column.half {
        width: 50%;
    }
    
    .column.third {
        width: 33.3%;
    }
    
    .column.fourth {
        width: 25%;
    }
    
    .column.flow-opposite {
        float: right;
    }
    
    html {
        font-size: 112%;
    }
}

@media (min-width: 1024px) {
    html {
        font-size: 120%;
    }
}